<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 开启二级缓存 -->
	<!--<settings>
		&lt;!&ndash; 全局映射器启用缓存 &ndash;&gt;
		<setting name="cacheEnabled" value="true" />  
	    &lt;!&ndash; 查询时，关闭关联对象即时加载以提高性能 &ndash;&gt;
	    <setting name="lazyLoadingEnabled" value="true" />  
	</settings>-->

	<!--<mappers>
		<mapper resource="com/jobCenter/mapper/UserMapper.xml"/>
		&lt;!&ndash; <mapper resource="com/springmvc/mybatis/mapper/UserMSMapper.xml"/> &ndash;&gt;
	</mappers>-->
	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING"/>
	</settings>
</configuration>