<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jobCenter.mapper.JobExecuteResultMapper" >
  <resultMap id="BaseResultMap" type="com.jobCenter.domain.JobExecuteResult" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="job_uuid" property="jobUuid" jdbcType="VARCHAR" />
    <result column="job_id" property="jobId" jdbcType="VARCHAR" />
    <result column="job_link_id" property="jobLinkId" jdbcType="VARCHAR" />
    <result column="job_start_time" property="jobStartTime" jdbcType="TIMESTAMP" />
    <result column="job_end_time" property="jobEndTime" jdbcType="TIMESTAMP" />
    <result column="result_status" property="resultStatus" jdbcType="VARCHAR" />
    <result column="result_code" property="resultCode" jdbcType="INTEGER" />
    <result column="result_message" property="resultMessage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, job_uuid, job_id, job_link_id, job_start_time, job_end_time, result_status,
    result_code, result_message
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from job_execute_result
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from job_execute_result
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jobCenter.domain.JobExecuteResult" >
    insert into job_execute_result (id, job_uuid, job_id, 
      job_link_id, job_start_time,
      job_end_time, result_status, result_code, 
      result_message)
    values (#{id,jdbcType=BIGINT}, #{jobUuid,jdbcType=VARCHAR}, #{jobId,jdbcType=VARCHAR}, 
      #{jobLinkId,jdbcType=VARCHAR}, #{jobStartTime,jdbcType=TIMESTAMP},
      #{jobEndTime,jdbcType=TIMESTAMP}, #{resultStatus,jdbcType=VARCHAR}, #{resultCode,jdbcType=INTEGER}, 
      #{resultMessage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jobCenter.domain.JobExecuteResult" >
    insert into job_execute_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jobUuid != null" >
        job_uuid,
      </if>
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="jobLinkId != null" >
        job_link_id,
      </if>
      <if test="jobStartTime != null" >
        job_start_time,
      </if>
      <if test="jobEndTime != null" >
        job_end_time,
      </if>
      <if test="resultStatus != null" >
        result_status,
      </if>
      <if test="resultCode != null" >
        result_code,
      </if>
      <if test="resultMessage != null" >
        result_message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="jobUuid != null" >
        #{jobUuid,jdbcType=VARCHAR},
      </if>
      <if test="jobId != null" >
        #{jobId,jdbcType=VARCHAR},
      </if>
      <if test="jobLinkId != null" >
        #{jobLinkId,jdbcType=VARCHAR},
      </if>
      <if test="jobStartTime != null" >
        #{jobStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobEndTime != null" >
        #{jobEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resultStatus != null" >
        #{resultStatus,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null" >
        #{resultCode,jdbcType=INTEGER},
      </if>
      <if test="resultMessage != null" >
        #{resultMessage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jobCenter.domain.JobExecuteResult" >
    update job_execute_result
    <set >
      <if test="jobUuid != null" >
        job_uuid = #{jobUuid,jdbcType=VARCHAR},
      </if>
      <if test="jobId != null" >
        job_id = #{jobId,jdbcType=VARCHAR},
      </if>
      <if test="jobLinkId != null" >
        job_link_id = #{jobLinkId,jdbcType=VARCHAR},
      </if>
      <if test="jobStartTime != null" >
        job_start_time = #{jobStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobEndTime != null" >
        job_end_time = #{jobEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resultStatus != null" >
        result_status = #{resultStatus,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null" >
        result_code = #{resultCode,jdbcType=INTEGER},
      </if>
      <if test="resultMessage != null" >
        result_message = #{resultMessage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jobCenter.domain.JobExecuteResult" >
    update job_execute_result
    set job_uuid = #{jobUuid,jdbcType=VARCHAR},
      job_id = #{jobId,jdbcType=VARCHAR},
      job_link_id = #{jobLinkId,jdbcType=VARCHAR},
      job_start_time = #{jobStartTime,jdbcType=TIMESTAMP},
      job_end_time = #{jobEndTime,jdbcType=TIMESTAMP},
      result_status = #{resultStatus,jdbcType=VARCHAR},
      result_code = #{resultCode,jdbcType=INTEGER},
      result_message = #{resultMessage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByUuid" parameterType="com.jobCenter.domain.JobExecuteResult" >
    update job_execute_result
    <set >
      <if test="jobId != null" >
        job_id = #{jobId,jdbcType=VARCHAR},
      </if>
      <if test="jobLinkId != null" >
        job_link_id = #{jobLinkId,jdbcType=VARCHAR},
      </if>
      <if test="jobStartTime != null" >
        job_start_time = #{jobStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jobEndTime != null" >
        job_end_time = #{jobEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resultStatus != null" >
        result_status = #{resultStatus,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null" >
        result_code = #{resultCode,jdbcType=INTEGER},
      </if>
      <if test="resultMessage != null" >
        result_message = #{resultMessage,jdbcType=VARCHAR},
      </if>
    </set>
    where job_uuid = #{jobUuid,jdbcType=BIGINT}
  </update>
  <sql id="searchParamWhereSql">
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="jobUuid != null" >
        AND t2.job_uuid = #{jobUuid,jdbcType=VARCHAR}
      </if>
      <if test="jobId != null" >
        AND t0.job_id = #{jobId,jdbcType=VARCHAR}
      </if>
      <if test="jobLinkId != null" >
        AND t1.job_link_id = #{jobLinkId,jdbcType=INTEGER}
      </if>
      <if test="jobStartTimeBegin != null" >
        AND t2.job_start_time >= #{jobStartTimeBegin,jdbcType=VARCHAR}
      </if>
      <if test="jobStartTimeEnd != null" >
        AND #{jobStartTimeEnd,jdbcType=VARCHAR} >= t2.job_start_time
      </if>
      <if test="jobEndTimeBegin != null" >
        AND t2.job_end_time >= #{jobStartTimeBegin,jdbcType=VARCHAR}
      </if>
      <if test="jobEndTimeEnd != null" >
        AND #{jobStartTimeEnd,jdbcType=VARCHAR} >= t2.job_end_time
      </if>
      <if test="resultStatus != null" >
        AND t2.result_status = #{resultStatus,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>

  <!-- 根据实体查询数据 -->
  <select id="queryJobExecuteListSearchParam" resultType="com.jobCenter.model.dto.JobExecuteResultDto"  parameterType="com.jobCenter.model.param.JobExecuteResultParam" >
    select t2.job_uuid as jobUuid,t0.job_name as jobName,t1.job_link as jobLink,
    t1.service_name as jobService ,t2.job_start_time as jobStartTime,t2.job_end_time as jobEndTime,
    t2.result_status resultStatus,t2.result_message as resultMessage
    FROM job_info t0 join job_link_info t1 on t0.job_id = t1.job_id AND t0.is_del = 0 AND t1.is_del = 0
    JOIN job_execute_result t2 on t0.job_id = t2.job_id
    <include refid="searchParamWhereSql"/>
    ORDER BY t2.job_start_time desc
    <if test="startNum != null and pageSize !=null" >
      LIMIT #{startNum,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </if>
  </select>

  <select id="queryCountJobExecuteListSearchParam" resultType="java.lang.Long"  parameterType="com.jobCenter.model.param.JobExecuteResultParam" >
    select count(0)
    FROM job_info t0 join job_link_info t1 on t0.job_id = t1.job_id AND t0.is_del = 0 AND t1.is_del = 0
    JOIN job_execute_result t2 on t0.job_id = t2.job_id
    <include refid="searchParamWhereSql"/>
  </select>

</mapper>