/*房型css*/
#img_url .file-panel span {
    width: 24px;
    height: 24px;
    display: inline;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    background: url(./plugins/webuploader/icons.png) no-repeat;
    margin: 5px 1px 1px;
    cursor: pointer;
}

#img_url .file-panel {
    position: absolute;
    background: rgba( 0, 0, 0, 0.5 );
    width: 150px;
    height:0px;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 300;
}

#img_url .file-panel span.cancel {
    background-position: -48px -24px;
}
#img_url .file-panel span.cancel:hover {
    background-position: -48px 0;
}

#save_house label.error{
    float: left;
    margin-top: 8px;
}